body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-fluide{
    min-width: calc(100vh - header - container-footer);
}

.container-footer{
    background-color: rgb(187, 21, 21);
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container-footer p{
    color: white;
    margin: auto 0;
    font-size: 11px;
}

/*---- Estilos HEADER ----*/
.container-header{
    display: flex;
    flex-direction: column;
}

.navbar{
    background-color: rgb(187, 21, 21);
    border-bottom: 1px solid white;
}

.navbar .navbar-collapse{
    display: flex;
    justify-content: space-evenly;
}

.navbar-nav .nav-item{
    margin: 0 20px 0 20px;
}

.navbar .navbar-collapse .navbar-nav a{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.container-header h2{
    background-color: rgb(187, 21, 21);
    color: white;
    border-top: 1px solid white;
    text-align: center;
    margin: 0;
    padding: 2vh;
    font-family: 'Bebas Neue', cursive;
}
/*---- Estilos del contenedor NAV y MAIN ----*/
.contenedor{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 6vh 0;
}
/*---- Estilos NAV ----*/ 
.contenedor{
    display: flex;
    flex-direction: row;
}
/*Nav*/
.container-nav{
    display: flex;
    flex-direction: column;
    margin: 10vh 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    text-decoration: none;
}
.container-nav a{
    color: white;
    padding: 3vh 0vw;
    width: 15vw; /*Cambia el tamaño del contenido*/
    background-color: rgb(187, 21, 21);
    margin: 2vh 0;
    font-size: 1.2vw;
    border-radius: 7px;
}
.container-nav a:hover{
    background-color: rgb(143, 130, 130);
}
/*---- Estilos MAIN index.html ----*/
.container-main-index{
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    border: 2px solid rgb(187, 21, 21);
    margin: 0 auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 20px;
    width: 80%;
    height: 100%;
}
.div-main-index{
    font-family: 'Bebas Neue', cursive;
    padding: 4vh 2vw;
    margin: 0 auto;
    width: 100%;
    border-left: 1px solid gray;
}
.div-main-index div{
    margin-bottom: 3vh;
}
.div-main-index div h3{
    font-weight: bolder; 
    margin: 0;
    padding: 0;
}
.div-main-index div p{
    margin: 0;
    padding: 0 1vw;
}
#imagen1{
    width: 40%;
    padding: 2vh 2vw;
}
/*---- Estilos MAIN rules.html ----*/
.container-main-rules{ 
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(187, 21, 21);
    border-radius: 7px;
    margin: 10vh 6vw 10vh 6vw;
    padding: 0 3vw;
    align-items: flex-start;
    width: 100%;
}
.container-main-rules .titulos{
    text-align: center;
    margin: 3vh auto;
    font-family: 'Poppins', sans-serif;
}
.container-main-rules .titulos h3{
    margin: 0;
}
.container-main-rules .titulos h4{
    margin: 0 0 2vh 0;
}
.container-main-rules .contenido{
    font-family:Arial, Helvetica, sans-serif;
    margin: 1vh 2vw;
}
.contenido2 dd{
    margin:1vh 0 6vh 1vw;
}
.contenido2 dt{
    font-weight: bolder; /*letra en negrita*/
}
#titulo-contenido3{
    font-weight: bolder; 
    font-family:Arial, Helvetica, sans-serif;
}
.contenido3 li{
    font-weight: bolder;
}
.contenido3 ol p{
    font-family:Arial, Helvetica, sans-serif;
}
.contenido3 li p{
    font-weight: normal;
    padding: 0;
    margin: 0 0 3vh 0;
}
.contenido3 .lista2 li{
    font-weight: normal;
    list-style-type: lower-alpha;
}
.contenido4 dt{
    font-weight: bolder;
    margin: 2vh;
}
.contenido4 ul li{
    list-style-type: circle;
}
/*--- Estilos MAIN game_info.html ----*/
.container-main-gameinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgb(187, 21, 21);
    border-radius: 7px;
    margin: 0 auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    align-items: flex-start;
    width: 70%;
}
.div-main{
    margin: 6vh auto;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}
.div-main h2{
    text-align: center;
    margin: 0 auto;
    padding: 0;
}
.div-main h3{
    margin: 0;
    padding: 0;
}
/*---- ESTILOS DE TABLA ----*/
.table-container{
    margin: 0 auto;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}
.table{
    border-collapse: collapse;
    border: 1px solid black;
    background-color: rgb(197, 194, 194);
    margin: 6vh auto;
    margin-bottom: 6vh;
}
.table-container .table, tr, th, td{
    border: 2px solid black;
}
thead tr th{
    text-align: center;
    vertical-align: middle;
}

tbody tr td{
    text-align: center;
    vertical-align: middle;
}

.table thead tr {
    /* padding: 2vh 1vw; */
    font-weight: bolder;
    background-color: rgb(187, 21, 21);
}

.table-container .p-table2{
    display: flex;
    flex-direction: row;
}
.table-container .p-table2 p{
    margin: 0 4vw 0 0;
}
/*---- Estilo MAIN contact.html ----*/
.contenedor .container-main-contact{
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    border: 2px solid rgb(187, 21, 21);
    margin: 0 auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 20px;
    width: 70%;
    height: 100%;
}
.div-main-contact{
    margin: 0;
    padding: 20vh 2vw;
    border-left: 1px solid gray;
}
#imagen3{
    padding: 2vh 2vw;
    width: 50%;
}
/*---- Estilos about.html ----*/
.container-main-about{
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(187, 21, 21);
    border-radius: 7px;
    margin: 10vh 6vw 10vh 6vw;
    padding: 20px;
    align-items: center;
    width: 100%;
}
#imagen2{
    display: flex;
    margin: 0 auto;
    padding: 2vh 2vw;
    width: 40%;
    height: 40%;
}
.div-main-about div{
    padding: 2vh 2vw;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    border-left: 1px solid grey ;
}

/* ------------ ESTILO form.html ------------*/
.container-main-form{
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    padding: 0;
    align-items: flex-start;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
}
#h1-form{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin: 4vh auto;
    border: none;
}
.form{
    height: auto;
    width: 70%;
    margin: 0 auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 10px; 
    padding: 6vh 2vw;
    padding-bottom: 10vh;
    font-family: 'Noto Sans', sans-serif;
    border: 4px solid rgb(187, 21, 21);
    background-color: rgb(224, 215, 215);
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    border-color: rgb(187, 21, 21);
    border-radius: 5px;
    background-color: white;
}
label{
    font-family: 'Poppins', sans-serif;
}
#h1-formRegistration{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin: 4vh auto;
    border: none;
}
.fieldset{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    padding: 0 0;
    border: none;
    margin: 5px 0;
}
.mb-3{
    border: none;
}
.fieldset-right{
    margin-left: 50px;
}
.fieldsetPosition{
    border: none;
    margin: 10px 0;
}
.fielset{
    border: none;
}
.fieldsetGrade{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    border: none;
    margin-bottom: 15px;
}
.fieldsetGrade p{
    margin: 0;
    padding: 0;
}
.grade{
    display: flex;
    border: none;
}
.div-grade{
    margin-left: 20px;
}
.uniform{
    display: flex;
    border: none;
}
.div-uniform{
    margin-left: 20px;
}
.div-uniform1{
    margin-left: 0;
}
.position{
    display: flex;
    border: none;
}
.div-position{
    margin-left: 20px;
}
.div-position1{
    margin-left: 0;
}
.closet{
    display: flex;
    border: none;
}
.div-closet{
    margin-left: 20px;
}
.div-closet1{
    margin-left: 0;
}
.fieldsetUniform{
    display: flex;
    flex-direction: column;
    padding: 0;
    border: none;
    margin: 10px 0;
}
#h4Permission{
    margin-bottom: 2vh;
    border: none;
}
h3{
    margin: 0;
    padding: 0;
    margin: 2vh 0 2vh 0;
    
}
h4{
    margin: 0;
    margin: 2vh 0 2vh 0;
}
p{
    font-family: 'Poppins', sans-serif;;
}

/*De cero hasta un maximo de 992px tendra las siguientes caracteristicas*/
@media (max-width: 992px) { 
    .container-header .navbar{
        position: fixed;
        width: 100vw;
        background-color: rgb(187, 21, 21);
    }

    .navbar .navbar-toggler{
        background-color: white;
        margin-left: 10px;
    }

    .container-header h2{
        border-bottom: 1px solid white;
    }
    
    #imagen1{
        width: 50%;
    }
    
    #imagen2{
        width: 45%;
    }

    #imagen3{
        width: 30vw;
        height: 60vh;
    }

    .contenedor .container-main-contact{
        width: 70%;
        margin: 0 auto;
        margin-top: 6vh;
        margin-bottom: 6vh;
        padding: 3vh 2vw;
    }

    .container-main-about{
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
        margin-top: 6vh;
        margin-bottom: 10vh;
        padding: 20px;
    }

    .div-main-about{
        flex-direction: column;
    }

    .div-main-about div{
        border-left: 0;
    }
    
    .banner{
        margin-top: 50px;
    }
}
/*-----------------------------------------------------------*/
@media (max-width: 768px){
    /*-- header --*/
    .navbar .navbar-toggler{
        background-color: white;
        margin-left: 10px;
    }

    .banner{
        margin-top: 50px;
        height: 200px;
    }

    /*-- about --*/
    #imagen2{
        width: 70%;
        padding: 0 20px 20px 20px;
        border-bottom: 1px solid gray;
    }

    /*-- home --*/
    .container-main-index{
        flex-direction: column;
        width: 60%;
        margin-top: 10px;
    }

    .div-main-index{
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-left: 0;
        width: 70%;
    }

    #imagen1{
        width: 80%;
        margin: 0 auto;
        padding: 0 15px 15px 15px;
        border-bottom: 1px solid gray;
    }
    /*-- game info --*/
    .container-main-gameinfo{
        width: 75%;
        padding: 30px;
    }
    /*-- contact --*/
    .container-main-contact{
        padding: 4vh 4vw;
        width: 100%;
        height: 90%;
        margin: 0 auto;
        justify-content: space-between;
    }
    .div-main-contact{
        margin: 0;
        padding: 2vh 2vw;
    }

    #imagen3{
        width: 60%;
        height: 30%;
        padding: 2vh 2vw;
    }
    /*-- form --*/
    .form{
        width: 80%;
        padding: 30px;
    }
    .fieldset{
        width: 100%;
    }
    .fieldset-right{
        margin-left: 30px;
    }
    .fieldsetUniform{
        margin: 0;
        padding: 6px 0 6px 0;
        border-top: 1px solid gray;
    }
    .fieldsetPosition{
        margin: 0;
        padding: 6px 0 6px 0;
        border-top: 1px solid gray;
    }
    #h4Permission{
        padding-top: 6px;
        border-top: 1px solid gray;
    }
    #street{
        display: flex;
        flex-direction: column;
    }
    #firstName{
        width: 50%;
    }
}
/*-----------------------------------------------------------*/
@media (max-width: 480px){
    /*-- header --*/
    .navbar .navbar-toggler{
        background-color: white;
        margin-left: 10px;
        width: 10%;
        height: 35px;
        padding: 0;
    }

    .banner{
        margin-top: 50px;
        height: 140px;
    }

    .container-header h2{
        font-size: 20px;
    }
    /*-- home --*/
    .container-main-index{
        width: 90%;
        margin-top: 50px;
        margin-bottom: 40px;
        padding: 10px;
    }

    .div-main-index{
        padding-top: 10px;
    }
    #imagen1{
        width: 95%;
        padding-top: 8px;
    }
    /*-- rules --*/
    .contenedor{
        padding-top: 0;
    }
    .container-main-rules{
        width: 90%;
        padding: 20px;
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .titulos{
        padding-bottom: 10px;
        margin-bottom: 0;
        border-bottom: 1px solid gray;
    }
    /*-- game info --*/
    .container-main-gameinfo{
        width: 98%;
        padding: 6px;
        margin-top: 50px;
        margin-bottom: 40px;
        border: 2px solid rgb(187, 21, 21);
        border-radius: 7px;
    }

    .div-main h2{
        padding: 0 50px 10px 50px;
        border-bottom: 1px solid gray;
    }
    
    .table{
        width: 50%;
    }

    .table-responsive{
        width: 100%;
    }
    
    .p-above-table{
        margin: 10px;
        margin-top: 0;
    }

    .p-under-table{
        margin: 10px;
        margin-top: 0;
    }
    
    /*-- about --*/
    .container-main-about{
        width: 90%;
        padding: 20px;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    #imagen2{
        width: 95%;
    }

    /*-- form --*/
    .contendor-form{
        width: 100%;
        margin: 0;
    }
    .container-main-form{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .form{
        width: 90%;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .fieldset{
        margin: 0;
    }

    .fieldset-right{
        margin-left: 60px;
    }

    .grade .div-grade{
        width: 80px;
    }

    form{
        width: 100%;
        padding: 20px;
        margin: 0;
    }

    #h1-form{
        margin-top: 0;
    }

    input{
        width: 170px;
    }

    .input-radio{
        width: 30px;
    }

    .input-checkbox{
        width: 50px;
    }

    .div-grade label{
        font-size: 13px;
    }

    .div-closet{
        margin-left: 10px;
    }

    .div-closet label{
        font-size: 11px;
    }

    .div-closet1 label{
        font-size: 11px;
    }

    .div-position{
        width: 60px;
        margin-left: 30px;
    }

    .div-position1{
        width: 60px;
        margin-left: 30px;
    }

    .div-position label{
        font-size: 12px;
    }

    .div-position1 label{
        font-size: 12px;
    }

    .div-uniform{
        margin-left: 10px;
    }

    .div-uniform label{
        font-size: 12px;
    }

    .div-uniform1 label{
        font-size: 12px;
    }

    .form h3{
        font-size: 20px;
    }

    .form h4{
        font-size: 20px;
    }

    .form h5{
        font-size: 16px;
    }

    .buttom{
        width: 80px;
    }


    /*-- contact --*/
    .contenedor .container-main-contact{
        width: 90%;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    #imagen3{
        width: 60%;
    }

    /*-- footer --*/
    .container-footer{
        height: 100px;
    }

    .container-footer p{
        margin-bottom: 15px;
        color: grey;
    }

}










/*-----------------------------------------------------------*/
@media (max-width: 320px){
    /*-- header --*/
    .navbar .navbar-toggler{
        background-color: white;
        margin-left: 10px;
        width: 10%;
        height: 30px;
    }

    .banner{
        margin-top: 40px;
        height: 100px;
    }

    /*-- home --*/
    .container-main-index{
        width: 90%;
        margin-bottom: 10px;
        padding: 10px;
    }

    .div-main-index{
        padding-top: 10px;
    }

    #imagen1{
        width: 95%;
    }

    /*-- footer --*/
    .container-footer{
        height: 100px;
    }

    .container-footer p{
        margin-bottom: 15px;
        color: grey;
    }

}